.app-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-upload .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-upload .form-control:focus {
  z-index: 2;
}
